<!DOCTYPE html>

<html>

<head>
    <title>View Colleges</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/viewColleges.css">
</head>

<body>
    <a class="back-arrow" href="/">&#129032;</a>
    <div class="title-left-right">college</div>
    <div class="main-content">
    </div>
    <div class="info" style="display:none">{{data}}</div>
    <script src="/js/viewCollege.js">
        
    </script>
</body>

</html>