<!DOCTYPE html>

<html>

<head>
    <title>View Questions</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/viewQuestions.css">
</head>

<body>
    <a class="back-arrow" href="/">&#129032;</a>
    <div class="filter-wrap">
        <div class="filter-child-wrap" id="first">
            <span class="filter-title">College :</span>
            <div class="college-select-wrap"></div>
        </div>
        <div class="filter-child-wrap">
            <span class="filter-title">Company :</span>
            <div class="company-select-wrap"></div>
        </div>
        <div class="filter-child-wrap">
            <span class="filter-title">Branch :</span>
            <div class="branch-select-wrap"></div>
        </div>
        <a id="filter" href="#" class="button-main">search</a>
    </div>
    <div class="filter-options"></div>
    <div class="main-content">
        
    </div>
    
   
    <div class="info" style="display:none">{{data}}</div>
    <script src="/js/viewQuestions.js">
        
    </script>
</body>

</html>