<!DOCTYPE html>

<html>

<head>
    <title>View Branches</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/viewBranches.css">
</head>

<body>
    <a class="back-arrow" href="/">&#129032;</a>
    <div class="title-left-right">branch</div>
    <div class="main-content">
    </div>
    <div class="info" style="display:none">{{data}}</div>
    <script src="/js/viewBranches.js">
        
    </script>
</body>

</html>