* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #374785;
}




.back-arrow {
    color: white;
    background-color: #1c2446;
    font-size: 4vmin;
    position: absolute;
    width: 6vmin;
    height: 6vmin;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin-left: 3vw;
    margin-top: 3vh;
}

.back-arrow:hover {
    cursor: pointer;
}

.filter-wrap {
    width: 100vw;
    height: 10vh;
    margin-bottom: 5vh;
}



.filter-child-wrap {
    margin: 0 auto;
    display: inline-block;
}

.filter-title {
    width: 5vw;
    line-height: 10vh;
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.7vmin;
}

#first {
    margin-left: 21vw;
}

.button-main {
    text-decoration: none;
    width: 6vw;
    height: 4vh;
    background-color: rgb(245, 245, 245);
    display: inline-block;
    line-height: 4vh;
    text-transform: uppercase;
    font-size: 1.4vmin;
    text-align: center;
    color:  #374785;
    transition: all ease 0.5s;
    border-radius: 5px;
}

.main-select {
    width: 10vw;
    outline: none;
    height: 4vh;
    border-radius: 5px;
    font-size: 1.6vmin;
    line-height: 4vh;
    margin-right: 2vw;
    margin-left: 0.2vw;
    color: #374785;
    font-weight: 400;
}

.main-table {
    margin: 0 auto;
    border-collapse: collapse;
    overflow: hidden;
}

.test {
    background-color: red;
}

.in-table {
    width: 12vw;
    text-align: center;
    height: 5vh;
    background-color: #1c2446ad;
    font-size: 1.6vmin;
    border-right: 1px solid  #ffffff;
    border-bottom: 1px solid  #1c2446;
    color: whitesmoke;
}

.table-head {
    background-color: #1c2446;
    color: white;
    font-size: 1.5vmin;
    text-transform: uppercase;
    font-weight: 300;
}

.table-description {
    margin-bottom: 3vh;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.table-head-description {
    width: 60vw;
    background-color: #ffffffab;
    color: #1c2446;
    font-weight: 700;
}

#top-left {
    border-top-left-radius: 7px;
}

#top-right {
    border-top-right-radius: 7px;
    border-right: none;
}

.no-result {
    text-align: center;
    font-size: 3vmin;
    font-weight: 500;
    color: whitesmoke;
}

.in-table-description {
    width: 60vw;
    background-color: whitesmoke;
    color: #1c2446;
}